{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    {% for product in products %}
        <br>
        <div class="card" style="max-width: 400px;">
            <div class="card-header">
                Категория: {{ product.get_category_display }}
            </div>
            <div class="card-body">
                <h5 class="card-title"> Название: {{ product.name_goods }}</h5>
                <h5> Средняя оценка:{{ product.get_average_mark }}</h5>
                <a href="{% url "webapp:detail_product" product.pk %}" class="btn btn-primary" style="float: right">
                    Детальный просмотр</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}