{% extends "base.html" %}

{% block title %}Профиль{% endblock %}
{% block nav %}
    {% if user_obj == user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change_profile' user_obj.pk %}">Поменять профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change_password' %}"> Изменить пароль</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card flex-row mt-3">
        <div class="card-body">
            {% if user_obj.profile.avatar %}
                <img src="{{ user_obj.profile.avatar.url }}" class="card-img- w-25" alt="user avatar">
            {% endif %}
            <h5 class="card-title">{{ user_obj.username|upper }}</h5>
            <br>
            <p class="card-subtitle mb-2 -muted">{{ user_obj.first_name }}</p>
            <p class="card-subtitle mb-2 -muted"> {{ user_obj.last_name }}</p>
            <p class="card-subtitle mb-2 -muted">{{ user_obj.email }}</p>
            <p class="card-subtitle mb-2 -muted">{{ user_obj.profile.about_user }}</p>
            <p class="card-subtitle mb-2 -muted"> {{ user_obj.profile.git }}</p>
        </div>
    </div>
    {% include "partial/review_list_partial.html" with reviews=user_obj.reviews.all %}
{% endblock %}